body {
    background-color: tomato;
}

.main-flex-container{
    border-style: solid;
    border-color: aqua;
    border-width: 3mm;
    display: flex;
    flex-direction: column;
    
}

.hero-container {
    border-style: solid;
    background-color: beige;
    border-width: 3mm;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#content-container{
    border-style: solid;
    background-color: green;
    border-width: 3mm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    border-style: solid;
    border-width: 3mm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 45%;
    margin: 1%
}
